<%- include("header") %>
<div class="box" id="heading">
    <h1><%= pageTitle %> </h1>
</div>
<div class="box">
    <% for( let index = 0; index < items.length; index++ ) { %>
    <div class="item">
        <input type="checkbox">
        <p><%= items[index] %> </p>
    </div>
    <% } %>
    <form class="item" action="/" method="POST">
        <input type="text" placeholder="Add To Do" autocomplete="off" name="newItem" id="newItem">
        <button type="submit" name="submitButton" value=<%= pageTitle %>>+</button>
    </form>
</div>
<%- include("footer") %>